<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>Homepage</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container container-fluid">
	    <a class="navbar-hrand" href="#">Mail Parser</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'settings' %}">Settings</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<!-- <form class="mt-5 d-flex">
			<input class="bg-light form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-secondary" type="submit">Search</button>
		</form> -->
		<div class="mt-5 d-flex justify-content-between">
			<div class="">
				<button class="btn btn-outline-primary">Filters</button>
			</div>
			<div class="mb-3 d-flex flex-column justify-content-between">
			  <button class="btn btn-primary" onClick="uploadFile()">Refresh</button>
			  <small class="mt-4">Last refresh : 12hrs ago</small>
			</div>
		</div>
		<div class="mt-5">
			<table class="table rounded align-middle table-striped table-bordered">
				<thead class="">
				<tr>
					<th scope="col">Pro Number</th>
					<th scope="col">Date</th>
					<th scope="col">From: </th>
					<th> To:</th>
					<th scope="col">Pick up</th>
					<th scope="col">Delivery</th>
				</tr>
				</thead>
				<tbody>
				{% for mail in mails %}
				<tr>
				  <td><a href="{% url 'mail_detail' mail_id=mail.id %}">{{mail.pro_number}}</a></td>
				  <td>{{mail.date}}</td>
				  <td>{{mail.from_address}} </td>
				  <td> {{mail.to_address}}</td>
				  <td>{{mail.pickup}}</td>
				  <td>{{mail.delivery}}</td>
				  <td></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		function getCookie(name) {
		 let cookieValue = null;
		 if (document.cookie && document.cookie !== '') {
			 const cookies = document.cookie.split(';');
			 for (let i = 0; i < cookies.length; i++) {
				 const cookie = cookies[i].trim();
				 // Does this cookie string begin with the name we want?
				 if (cookie.substring(0, name.length + 1) === (name + '=')) {
					 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				 }
			 }
		 }
		 return cookieValue;
		}
		var uploadFile = function(){
			url = "/upload/"
			file_input = document.getElementById('file_input')
			var file = file_input.files[0]
			console.log(file)

			var formData = new FormData()
			formData.append('file', file)
			console.log(formData)

			fetch(url, {
				method: 'POST',
				body: formData,
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
				    'Accept': 'application/json'
				}
				}).then((response) => {
					return response.json()
				}).then((res) => {
				if (res.status === 201) {
				    console.log("Post successfully created!")
				}
				}).catch((error) => {
					console.log(error)
			})
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
